<div class="parallax bg-gray innerTB inner-2x shadowT" style="margin-top: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="text-center innerAll inner-2x fadeInLeft animated" data-animate="fadeInLeft" data-delay="200">
                    <p class="justify">
                        <b>WAVE</b> @Resources.SharedLayoutPartialsFooterAbout

                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="text-center innerAll inner-2x fadeInUp animated" data-animate="fadeInUp" data-delay="300">
                    <h4 class="text-left-i">@Resources.SharedLayoutPartialsFooterInfo</h4>
                    <ul class="nav nav-stacked">
                        @*<li><a href="/About">@Resources.SharedLayoutPartialsFooterAboutSite</a></li>*@
                        <li><a href="/The-Team">@Resources.SharedLayoutPartialsFooterTheTeam</a></li>
                        <li><a href="/Blog">@Resources.SharedLayoutPartialsFooterBlog</a></li>
                        @*<li><a href="">@Resources.SharedLayoutPartialsFooterStats</a></li>*@
                        @*<li><a href="/About/Our-Supporters">@Resources.SharedLayoutPartialsFooterSupporters</a></li>*@
                        @*<li><a href="">@Resources.SharedLayoutPartialsFooterAmbasador</a></li>*@
                        <li><a href="/Contact">@Resources.SharedLayoutPartialsFooterContactUs</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="text-center innerAll inner-2x fadeInUp animated" data-animate="fadeInUp" data-delay="350">
                    <h4 class="text-left-i">@Resources.SharedLayoutPartialsFooterDirectory</h4>
                    <ul class="nav nav-stacked">

                        <li><a href="">@Resources.SharedLayoutPartialsFooterForOrganizations</a></li>
                        @*<li><a href="">@Resources.SharedLayoutPartialsFooterForBusiness</a></li>*@
                        <li><a href="/FAQs">@Resources.SharedLayoutPartialsFooterFAQ</a></li>
                        <li><a href="http://support.quarinos.com/">@Resources.SharedLayoutPartialsFooterSupport</a></li>
                        <li><a href="/Terms-Of-Use">@Resources.SharedLayoutPartialsFooterTerms</a></li>
                        <li><a href="/Privacy-Policy">@Resources.SharedLayoutPartialsFooterPrivacy</a></li>
                    </ul>
                </div>

            </div>
            <div class="col-md-3">
                <div class="text-center innerAll inner-2x fadeInUp animated" data-animate="fadeInUp" data-delay="350">
                    <h4 class="text-left-i">@Resources.SharedLayoutPartialsFooterDiscover</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="nav nav-stacked">
                                <li><a href="/Events/Category/Environment">@Resources.EventsCreateEnvironment</a></li>
                                <li><a href="/Events/Category/Culture">@Resources.EventsCreateCulture</a></li>
                                <li><a href="/Events/Category/Education">@Resources.EventsCreateEducation</a></li>
                                <li><a href="/Events/Category/Humanity">@Resources.EventsCreateHumanity</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="nav nav-stacked">
                                <li><a href="/Events/Category/Disasters">@Resources.EventsCreateNaturalDisaster</a></li>
                                <li><a href="/Events/Category/Health">@Resources.EventsCreateHealth</a></li>
                                <li><a href="/Events/Category/Children">@Resources.EventsCreateFamily</a></li>
                                <li><a href="/Events/Category/Various">@Resources.EventsCreateVarious</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-inverse" style="background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAFCAMAAACElLmZAAAAP1BMVEUwtcTwUCNSu8BVu75yv0R2v0iHxFaMw1iOw1mXsYHUaCpNu8HxqC7Bs0HMrzbOeDecsHrUaiu5bVG5b1T6phoFtTZBAAAARElEQVR4XpXPRxXAMAzAUDt7p4s/1hCwDhWB/yQKtWCXxgc5sXtVyNiAFDJqB+QhhEfW7xFGbkAyGRePIBIBmYR4HtEDYEYM5LX02IUAAAAASUVORK5CYII=') /*/Content/images/mail_border.png*/ !important; *background-image: url('/Content/images/mail_border.png') !important; background-position: bottom !important; /* For IE 6 and 7 */background-repeat: repeat-x !important;">
    <div class="innerTB inner-2x" style="background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAFCAMAAACElLmZAAAAP1BMVEUwtcTwUCNSu8BVu75yv0R2v0iHxFaMw1iOw1mXsYHUaCpNu8HxqC7Bs0HMrzbOeDecsHrUaiu5bVG5b1T6phoFtTZBAAAARElEQVR4XpXPRxXAMAzAUDt7p4s/1hCwDhWB/yQKtWCXxgc5sXtVyNiAFDJqB+QhhEfW7xFGbkAyGRePIBIBmYR4HtEDYEYM5LX02IUAAAAASUVORK5CYII=') /*/Content/images/mail_border.png*/ !important; *background-image: url('/Content/images/mail_border.png') !important; /* For IE 6 and 7 */background-repeat: repeat-x !important;">
        <div class="container innerTB inner-2x text-center fadeInUp animated" data-animate="fadeInUp" data-delay="200">
            <h2 class="text-white">@Resources.SharedLayoutPartialsFooterNewsletter</h2>
            <div class="separator bottom"></div>
            <div class="row">
                <form action="http://quarinos.us7.list-manage.com/subscribe/post?u=df6894a5b1dec995ca91cec66&amp;id=89de535263" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="input-group input-group-lg">
                            <input class="form-control" placeholder="@Resources.SharedLayoutPartialsFooterPlaceholderEmail" type="email" value="" name="EMAIL">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-primary" name="subscribe"><i class="fa fa-check"></i></button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<div>
    <div class="row innerT inner-2x text-center fadeInUp animated" data-animate="fadeInUp" data-delay="200">
        <div class="col-md-3">
            <img src="~/Content/images/WAVE.png" />
        </div>
        <div class="col-md-6">
            <a href="#"><i class="fa fa-facebook fa-3x"></i></a>
            <a href="#"><i class="fa fa-twitter fa-3x"></i></a>
            <a href="#"><i class="fa fa-pinterest fa-3x"></i></a>
            <a href="#"><i class="fa fa-instagram fa-3x"></i></a>
            <a href="#"><i class="fa fa-youtube-play fa-3x"></i></a>
        </div>
        <div class="col-md-3">
            <p style="margin-top: 5px;">&copy;2014 WAVE</p>
        </div>
    </div>


</div>