<!-- Sidebar Menu -->
<div id="menu" class="hidden-print">
    <div id="sidebar-discover-wrapper">
        <ul class="list-unstyled">

            <li>
                <a href="/Events/Start"><i class="fa fa-fw icon-add-symbol"></i><span>@Resources.SharedLayoutPartialsMenuAddAnAction</span></a>
            </li>

            <li>
                <a href="/Events"><i class="fa fa-fw icon-search"></i><span>@Resources.SharedLayoutPartialsMenuDiscover</span></a>
            </li>

            @*<li>
                <a href="#" ><i class="fa fa-fw icon-trophy"></i><span>@Resources.SharedLayoutPartialsMenuHallOfFame</span></a>
            </li>*@

            @*<li>
                <a href="#"><i class="fa fa-fw icon-first-place"></i><span>@Resources.SharedLayoutPartialsMenuRankings</span></a>
            </li>*@

            <li><a href="/Blog"><i class="fa fa-fw icon-newspaper"></i><span>@Resources.SharedLayoutPartialsMenuBlog</span></a></li>

            <li>
                <a href="/About/Ambassadors" ><i class="fa fa-fw icon-comment-heart"></i><span>@Resources.SharedLayoutPartialsMenuAmbassadors</span></a>
            </li>

            <li>
                <a href="#"><i class="fa fa-fw icon-projector-screen"></i><span>@Resources.SharedLayoutPartialsMenuAbout</span></a>
            </li>
        </ul>
    </div>
</div>
<!-- // Sidebar Menu END -->